@import '../core/variables';

.cam-capture {
	&__image {
		width: 289px;
		height: 179px;
		border-radius: 12px;

		background-color: royalblue;
	}
	.border-accepted {
		border: 2px solid $colorAccepted;
	}
	.border-rejected {
		border: 2px solid $colorRejected;
	}

	&__msg {
		&--text {
			font-size: $fontSizeText;
			color: $colorFontSecondary;
		}
		&--icon {
			margin: 23px 8px 0 0;
		}
		.fa-check-circle {
			color: $colorAccepted;
		}
		.fa-lightbulb {
			color: $colorLightWarning;
		}
	}
}
