@import '../core/variables';

.cam-view {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;

	color: $colorFontSecondary;
	font-family: $fontMain;

	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.6) 25%,
			rgba(0, 0, 0, 0.4) 80%
		),
		url(../../images/chip_bg.jpg);

	&__info {
		margin-top: 100px;
		text-align: center;

		&--title {
			font-size: $fontSizeTitle;
			font-weight: 700;
		}
		&--text {
			padding: 16px 0 56px 0;
			font-size: $fontSizeText;
			font-weight: 400;
		}
	}

	&__capture {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--image {
			width: 289px;
			height: 179px;
			border-radius: 12px;
		}
		.border-accepted {
			border: 2px solid $colorAccepted;
		}
		.border-rejected {
			border: 2px solid $colorRejected;
		}

		&--msg {
			.text {
				font-size: $fontSizeText;
			}
			.icon {
				margin: 23px 8px 0 0;
			}
			.fa-check-circle {
				color: $colorAccepted;
			}
			.fa-lightbulb {
				color: $colorLightWarning;
			}
		}

		&--cancel-btn {
			justify-self: baseline;
			position: absolute;
			bottom: 48px;

			font-size: $fontSizeText;
			font-weight: 700;
			color: $colorFontSecondary;
			text-transform: uppercase;
			text-decoration: none;
		}
	}
}
