// FONTS
$fontMain: 'Roboto', sans-serif;

// font size
$fontSizeTitle: 21px;
$fontSizeText: 16px;
$fontSizeSmall: 12px;

// font colors
$colorFontPrimary: #000;
$colorFontSecondary: #fff;

// colors
$colorPrimary: #2f0079;
$colorPrimaryOpacity: rgba(47, 0, 121, 0.1);
$colorPrimaryLighter: #491d91;
$colorBg: #fff;
$colorAccepted: #69cc8b;
$colorRejected: #c00000;
$colorLightWarning: #fab72d;
